form {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 2rem;
}

table {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 2rem;

  tr:hover {
    cursor: pointer;
  }
}

.user-disable {
  color: red;
}

.user-reset {
  color: dodgerblue;
}

.message {
  margin: 0 auto;
  height: 50px;
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
}
